$bg-btn: #1fad95;
$bg-btn-hover: #1fad00;
$color-btn: #ffffff;
$color-nav-text: #4a556c70;
$color-subtext: #e4e4e6;
$color-logo-text: #333461;
$color-tytle-text: #333461;
$color-page-text: #60687b;
$bg-page-second: #faf8f6;
$bg-page-first: #ffffff;
$regular: 'kumbh_sansregular';
$semibold: 'kumbh_sansblack';
