.visually_hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
h1,h2,h3,h4,h5{
  font-family: $semibold;
  color:$color-tytle-text
}
.text-option{
  color:$color-nav-text;
}

.container{
  margin: auto;
  @media screen and (min-width: 1280px) {
    width: 1220px;
  }
}

.wrapper {
  font-family: $regular;
  font-size: 16px;
  color: $color-page-text;
}
.sprite{
  position: relative;
}
.sprite:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url('../images/sprite/sprites.png');
  background-repeat: no-repeat;
}
