.visually_hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.wrapper {
  margin: auto;
  font-family: $regular;
  font-size: 16px;
  color: $color-page-text;
  @media screen and (max-width: 767px) {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}
.sprite{
  position: relative;
}
.sprite:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url('../images/sprite/sprites.png');
  background-repeat: no-repeat;
}
