<section class="address">
	<div class="container">
		<div class="footer-contact">
			<div class="logo-footer">
				<a href="#" class="logo sprite">Happy Coaching</a>
				<p class="text-list">Design amazing digital experiences that create more happy in the world.</p>
			</div>
			<div class="pages">
				<h5 class="footer-list-tytle">Pages</h5>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Extra Sales/Landingpage</a></li>
					<li><a href="#">Free guide</a></li>
				</ul>
			</div>
			<div class="contacts">
				<h5 class="footer-list-tytle">Contact</h5>
				<ul>
					<li><a href="tel:+123456789">+123 456 789</a></li>
					<li><a href="mailto:hello@happydigital.nl">hello@happydigital.nl</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Linkedin</a></li>
				</ul>
			</div>
		</div>
		<div class="address-footer">
			<p class="byMade">Made with a <span class="sprite"></span> by <a href="#">HappyDigita</a></p>
			<div class="linkSocial">
				<a href="#" class="sprite"></a>
				<a href="#" class="sprite"></a>
				<a href="#" class="sprite"></a>
			</div>
		</div>
	</div>
</section>