<section class="feedback">
	<div class="container">
		<div class="header-feedback">
			<div class="tytle-feedback">
				<p class="subtext">Testimonials</p>
				<h3 class="tytle-text">Results that speak for themselves</h3>
			</div>
			<button class="button button--page">Get started</button>
		</div>
		<ul class="feedbeckers-list">
			<li class="feedbeckers">
				<p class="text-option"><span class="subtext-feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<img src="./images/img/avatar.png" alt="feedbacker" class="img-feedbacker">
				<p class="name">Naan</p>
				<p class="subname subtext">Bedrijf</p>
				<p class="rating">
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
				</p>
			</li>
			<li class="feedbeckers">
				<p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<img src="./images/img/avatar.png" alt="feedbacker" class="img-feedbacker">
				<p class="name">Naan</p>
				<p class="subname subtext">Bedrijf</p>
				<p class="rating">
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
				</p>
			</li>
			<li class="feedbeckers">
				<p class="text-option"><span class="subtext-feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<img src="./images/img/avatar.png" alt="feedbacker" class="img-feedbacker">
				<p class="name">Naan</p>
				<p class="subname subtext">Bedrijf</p>
				<p class="rating">
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
				</p>
			</li>
			<li class="feedbeckers">
				<p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<img src="./images/img/avatar.png" alt="feedbacker" class="img-feedbacker">
				<p class="name">Naan</p>
				<p class="subname subtext">Bedrijf</p>
				<p class="rating">
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
					<span class="star sprite"></span>
				</p>
			</li>
				</ul>
	</div>
</section>