<section class="header-section">
  <div class="container">
    <div class="header">
  <button class="nav-button" type="button">
    <span class="button-menu button-menu--open"></span>
    <span class="button-menu button-menu--top"></span>
    <span class="button-menu button-menu--bottom"></span>
  </button>
  <div class="backdrop hidden">
  <div class="nav-menu hidden">
    <ul class="list-menu">
      <li class="list"><a class="nav-link" href="#">Home</a></li>
      <li class="list"><a class="nav-link" href="#">Services</a></li>
      <li class="list"><a class="nav-link" href="#">About us</a></li>
      <li class="list"><a class="nav-link" href="#">Extra Salespage</a></li>
    </ul>
    <button type="button" class="button button--nav">Get your free guide now</button>
  </div>
  </div>
  <a href="#" class="logo sprite">Happy Coaching</a>
  <div class="nav">
    <ul class="nav-list">
      <li class="list"><a class="nav-link" href="#">Home</a></li>
      <li class="list"><a class="nav-link" href="#">Services</a></li>
      <li class="list"><a class="nav-link" href="#">About us</a></li>
      <li class="list"><a class="nav-link" href="#">Extra Salespage</a></li>
    </ul>
    <button type="button" class="button button--nav">Get your free guide now</button>
  </div>
</div>
<div class="main">
  <h2 class="visually_hidden">border section</h2>
  <div class="main-tytle">
    <p class="subtext">Proven strategies backed by science for success.</p>
    <h1>Self Esteem Therapy</h1>
    <p class="text-option">I help people to discover their true potential and live a fulfilling life...
      Discover the simple 3 steps that I discovered to hack productivity. It just works and it is begin using backed
      by
      science. Wanna transform your life?</p>
    <button type="button" class="button button--page">Claim your spot</button>
  </div>
  <div class="border"><img src="./images/img/pexels-andrea.jpg" alt="pexels" class="img-border"></div>
  <p class="simbol sprite"></p>
</div>
  </div>
</section>