<section class="info-options">
	<div class="info">
		<div class="tytle-info">
			<p class="subtext">How does it work?</p>
			<h3 class="tytle-option">Are you ready to transform your life?</h3>
			<p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam.</p>
		</div>
		<div class="contact-info">
			<div class="inviting">
				<div class="sprite inviting-sprite"></div>
				<h4 class="tytle-inviting">Online consultation</h4>
				<p class="text-inviting">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
			</div>
			<div class="inviting">
        <div class="sprite inviting-sprite"></div>
				<h4 class="tytle-inviting">Online consultation</h4>
				<p class="text-inviting">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
			</div>
		</div>
	</div>
	<div class="info-video">
		<img src="images/img/video-player.png" alt="video">
	</div>
</section>
