<section class="knowlag">
	<div class="container">
		<h3 class="knolage-tytle">Good to know.</h3>
		<p class="text-option">Everything you need to know about the my services.</p>
		<ul class="question-list">
			<li>
				<div class="header-question">
					<h4 class="tytle-question">How long does the coaching process take?</h4>
					<button class="open-close sprite"></button>
				</div>
				<p class="text-question">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.</p>
			</li>
			<li>
				<div class="header-question">
					<h4 class="tytle-question">What if I wanted to end my coaching engagement?</h4>
					<button class="open-close sprite"></button>
				</div>
				<p class="text-question visible">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.</p>
			</li>
			<li>
				<div class="header-question">
					<h4 class="tytle-question">Can I change through coaching?</h4>
					<button class="open-close sprite"></button>
				</div>
				<p class="text-question visible">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.</p>
			</li>
			<li>
				<div class="header-question">
					<h4 class="tytle-question">How often do we meet?</h4>
					<button class="open-close sprite"></button>
				</div>
				<p class="text-question visible">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.</p>
			</li>
		</ul>
		<div class="get-question">
			<h4 class="tytle-question">Still have questions?</h4>
			<p class="text-question">Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
			<button class="button button--page">Get in touch</button>
		</div>
	</div>
</section>