<section class="list-func">
  <div class="container">
    <div class="title-list-func">
    <p class="subtext">How does it work?</p>
    <h2 class="list-title">Are you ready to transform your life?</h2>
    <p class="text-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna
      aliqua minim veniam.
    </p>
  </div>
  <ul class="list-option">
    <li class="option">
      <div class="sign-option sprite"></div>
      <h3 class="tytle-option">Ready to start? Let’s talk!</h3>
      <p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
    <li class="option">
      <div class="sign-option sprite"></div>
      <h3 class="tytle-option">Ready to start? Let’s talk!</h3>
      <p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
    <li class="option">
      <div class="sign-option sprite"></div>
      <h3 class="tytle-option">Ready to start? Let’s talk!</h3>
      <p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
    <li class="option">
      <div class="sign-option sprite"></div>
      <h3 class="tytle-option">Ready to start? Let’s talk!</h3>
      <p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
    <li class="option">
      <div class="sign-option sprite"></div>
      <h3 class="tytle-option">Ready to start? Let’s talk!</h3>
      <p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
    <li class="option">
      <div class="sign-option sprite"></div>
      <h3 class="tytle-option">Ready to start? Let’s talk!</h3>
      <p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
  </ul>
  </div>
</section>