<section class="online-session">
	<div class="container">
		<div class="online-main">
			<div class="online-content">
				<h3 class="tytle-online">Get 15-Minutes Complimentary online session.</h3>
				<p class="text-online">Limited Period Offer. Claim Now.</p>
				<button class="button button--page">Claim your spot</button>
			</div>
			<div class="img-online">
				<img src="images/img/screen-mockup.png" alt="screen-mockup">
				<button class="button-meet"></button>
			</div>
		</div>
	</div>
</section>