.header-feedback {
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	@media screen and (min-width: 768px) {
		text-align:left;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap:52px
	}
	margin-bottom: 100px;
}
.subtext {}
.tytle-text {
	font-size: 42px;
	line-height: 1.2;
	color:$color-tytle-text;
	font-family: $semibold;
}
.tytle-feedback {
	@media screen and (max-width: 767px) {
		margin-bottom: 52px;
	}
}
.feedbeckers-list {
	@include displayGrid(repeat(2,minmax(auto, auto)), minmax(auto,450),0, 32px);
	  justify-content: center;
		justify-items: center;
		margin-bottom: 32px;
	@media screen and (min-width: 1280px) {
		@include displayGrid(repeat(2,minmax(auto, auto)), repeat(2,minmax(auto,450)),92px, 92px);
		margin-bottom: 88px;
	}
}
.feedbeckers {
	text-align: center;
}
.text-inviting {
	margin-bottom: 36px;
}
.subtext-feedback {
	font-family: $semibold;
	color:$color-tytle-text;
}
.img-feedbacker {
margin-bottom: 18px;
}
.name {
	margin-bottom: 12px;
	font-family: $semibold;
	color:$color-tytle-text;
}

.rating {
	display: flex;
	justify-content: center;
	gap: 6px;
}
.star {
width: 18px;
height: 18px;
}
.star:before{
	width: 100%;
	height: 100%;
	background-position:-224px -137px
}